body{
    width: 33%;
}

#res{
    background-color: lightgray;
    border: solid;
    height: 48px;
    font-size: 20px;
}

.numbgbtn{
    background-color: lightgreen;
    color: brown;
    width: 25%;
    height: 36px;
    margin: 0;
    float: left;
}

.eqbgbtn{
    background-color: darkgreen;
    color: white;
    width: 25%;
    height: 36px;
    margin: 0;
    float: left;
}

.blkbgbtn{
    background-color: black;
    color: red;
    width: 25%;
    height: 36px;
    font-size: 18px;
    margin: 0;
    float: left;
}